.container-form {
    display: inline-block;
    position: relative;
    margin-bottom: 2%;
  }
  
.container-form-inputs input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1% 1% 1% 1%;
}
h3{
  margin-bottom: 5%;
}

.form-select {
  display:grid;
    margin-top: 1%;
    width: 450px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-form {
    background-color: #34a4d1b7;
    border: none;
    color: #213057;
    cursor: pointer;
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 0;
    right: 0;
    transition: .9s ease;
  }
.button-form:disabled{
    background-color: #4444443f;
    border: none;
    color: #fff;
    padding: 15px 25px;
    border-radius: 20px;
    top: 0;
    right: 0;
  }
  
  .button-form:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: #083864a9;
  }
.error-message{
  color: #b91010b7;
  font-weight: 700;
  font-size: 15px;
}
.close {
  font-size: 18px;
  cursor: pointer;
  background-color: #34a4d1b7;
  border: none;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: .9s ease;
  
  
}

.close:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: #083864a9;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: normal;
}

.wrap > div {
  background-color: #34a4d1b7;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 1% 1% 1% 1%;
}

.wrap > div:hover {
  background-color: #e0e0e0;
}
