.card {

  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  color: #000;
  transform: translateZ(0);
  margin-top: 2%;
}

.cardImg {
  transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
  transition: transform 0.2s;
}
img{
  width: 400px;
  height: 280px;
}
.cardFooter {
  padding: 0 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  gap: 0.5ch;
  background: hsl(0 0% 100% / 0.5);
  backdrop-filter: blur(var(--blur));
  height: 40%;
  align-content: center;
}


.cardFooter div:nth-of-type(1) {
  font-size: calc(var(--size) * 0.065);
}

.cardFooter div:nth-of-type(2) {
  font-size: calc(var(--size) * 0.035);
}

.card:is(:hover, :focus-visible) {
  --hover: 1;
}
.button{
    background-color: #068fc5;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 8px 15px ;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .9s ease;
}
  
  .button:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: #034d92d2;
  }
  
h3{
  margin-top: 1%;
}

.cardGenres{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}
